.sign-in-form{
    width: 500px;
    border-radius: 5px;
    border: 1px solid var(--light-color);
    box-shadow: 0.5px 0.5px 20px var(--light-color);
    padding: 20px 35px;
    margin: 50px auto 0;
    color: var(--primary-color);
}

.form-title{
    text-align: center;
    color: var(--primary-color);
}

.form{
    margin: 20px 0;
}

.form-field{
    margin: 20px 0;
}

.form-field label{
    font-weight: 500;
    color: var(--primary-color);
}

.form-field input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 10px 12px;
    border: 1px solid var(--light-color);
    border-radius: 5px;
}

.form-btn button{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
}

.mini-text{
    margin: 20px 0 0;
    display: block;
    text-align: center;
}